<div class="container">
  <div class="container-header">
    <h2>Teams</h2>
  </div>

  <ng-container *ngIf="competitions$ | async as competitions; else loadingTemplate">
    <div class="container-leagueCodeSelector">
      <mat-form-field appearance="fill">
        <mat-label>Competition</mat-label>
        <mat-select [formControl]="selectedLeagueCode">
          <mat-option *ngFor="let competition of competitions" [value]="competition.code">
            {{competition.name}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
  </ng-container>

  <ng-container *ngIf="selectedLeagueCodeValue$ | async" >
    <ng-container *ngIf="teams$ | async as teams; else loadingTemplate">
      <div class="container-tableContainer">
        <table mat-table [dataSource]="teams" class="container-table mat-elevation-z8">

          <!-- Id Column -->
          <ng-container matColumnDef="id">
            <th mat-header-cell *matHeaderCellDef> Id </th>
            <td mat-cell *matCellDef="let element"> {{element.id}} </td>
          </ng-container>

          <!-- Code Column -->
          <ng-container matColumnDef="code">
            <th mat-header-cell *matHeaderCellDef> Code </th>
            <td mat-cell *matCellDef="let element"> {{element.code}} </td>
          </ng-container>

          <!-- Name Column -->
          <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef> Name </th>
            <td mat-cell *matCellDef="let element"> {{element.name}} </td>
          </ng-container>

          <!-- Short Name Column -->
          <ng-container matColumnDef="shortName">
            <th mat-header-cell *matHeaderCellDef> Short Name </th>
            <td mat-cell *matCellDef="let element"> {{element.shortName}} </td>
          </ng-container>

          <!-- TLA Column -->
          <ng-container matColumnDef="tla">
            <th mat-header-cell *matHeaderCellDef> TLA </th>
            <td mat-cell *matCellDef="let element"> {{element.tla}} </td>
          </ng-container>

          <!-- Email Column -->
          <ng-container matColumnDef="email">
            <th mat-header-cell *matHeaderCellDef> Email </th>
            <td mat-cell *matCellDef="let element"> {{element.email}} </td>
          </ng-container>

          <!-- Area Name Column -->
          <ng-container matColumnDef="areaName">
            <th mat-header-cell *matHeaderCellDef> Area Name </th>
            <td mat-cell *matCellDef="let element"> {{element.areaName}} </td>
          </ng-container>

          <!-- Actions Column -->
          <ng-container matColumnDef="actions">
            <th mat-header-cell *matHeaderCellDef> Actions </th>
            <td mat-cell *matCellDef="let element">
              <button mat-raised-button color="primary" (click)="viewPlayers(element.code)">View Players</button>
            </td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
      </div>
    </ng-container>
  </ng-container>

  <ng-template #loadingTemplate>
    <div class="container-loading">
      <mat-spinner></mat-spinner>
    </div>
  </ng-template>
</div>
