$contentSpacing: 16px;

$sideBar-width: 10vw;
$sideBar-minWidth: 190px;

$color-grey--100: #F3F3F3;
$color-grey--300: #D8D8D8;

$color-blue--400: #0868AC;

$footer-height: 4vh;
$footer-minHeight: 40px;

$color-activeNavLink: $color-blue--400;

$personCard-width: 350px;
$personCard-maxWidth: 350px;
